node_modules/
dist/
dist-electron/
release/
.vercel/
.git/
*.log
.env
.env.*
.DS_Store
*.local
.vscode/
e2e/
electron/
playwright.config.ts
*.ts
!*.config.ts
pnpm-lock.yaml
yarn.lock
package-lock.json
installer.nsh
tailwind.config.js
postcss.config.js
tsconfig*.json
.vercel
